<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" href="./home">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <!--Data from the Main table first add process in menu-->
    <!-- Start Fundamental Data  -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="./main_data">
        <i class="fa fa-database"></i>
        <span>Data Overview</span>
      </a>
    </li>
    <!-- End Fundamental Data -->

    <!--Data from Gender table after adding pre-calculated datas-->
    <li class="nav-item">
      <a class="nav-link collapsed" href="./main_data_metrics">
        <i class="fa fa-search"></i>
        <!--<img
          src="./images/m1.png"
          alt="logo"
          class="img-fluid"
          height="20"
          width="20"
        />-->
        <span class="">Data Metrics Overview</span>
      </a>
    </li>
    <!-- End Main Data Metrics -->

    <li class="nav-item">
      <a
        class="nav-link collapsed rounded-1"
        id="custom-border-bottom"
        data-bs-target="#male_manage0-2"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="fa fa-tasks"></i>
        <!--<img
          src="./images/manage7.png"
          alt="logo"
          class="img-fluid"
          height="15"
          width="15"
        />-->
        <span class="">Manage Metrics</span>

        <i class="bi bi-chevron-down ms-auto" id="arrow-down"></i>
      </a>
      <ul
        id="male_manage0-2"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a class="mb-2 rounded-1" id="dropdown-links" href="./menu">
            <i class="bi bi-person-plus" id="icons"></i
            ><span class="ms-1">Add</span>
          </a>
        </li>
        <li>
          <a class="mb-2 rounded-1" id="dropdown-links" href="#">
            <i class="bi bi-pencil-square" id="icons"></i
            ><span class="ms-1">Update</span>
          </a>
        </li>
        <li>
          <a class="rounded-1" id="dropdown-links" href="#">
            <i class="bi bi-trash3" id="icons"></i
            ><span class="ms-1">Delete</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Manage Metrics  -->

    <li class="nav-heading">Metrics Overview (0-2) Years Old</li>
    <li class="nav-item">
      <a
        class="nav-link collapsed rounded-1"
        data-bs-target="#male0-2"
        data-bs-toggle="collapse"
        href="#"
        id="custom-border-bottom"
      >
        <i class="fa fa-pie-chart"></i>

        <span class="ms-1">Individual Growth Metrics</span
        ><i class="bi bi-chevron-down ms-auto" id="arrow-down"></i>
      </a>
      <ul
        id="male0-2"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a
            class="mb-2 rounded-1"
            id="dropdown-links"
            href="./head_circumference0to2"
          >
            <i class="bi bi-circle-fill text-muted" id="icons"></i
            ><span>Head Circumference for Age</span>
          </a>
        </li>
        <li>
          <a
            class="mb-2 rounded-1"
            id="dropdown-links"
            href="./weight-for-length"
          >
            <i class="bi bi-circle-fill text-muted" id="icons"></i
            ><span>Weight-for-Length</span>
          </a>
        </li>
        <li>
          <a
            class="mb-2 rounded-1"
            id="dropdown-links"
            href="./weight-for-age0to2"
          >
            <i class="bi bi-circle-fill text-muted" id="icons"></i
            ><span>Weight for Age</span>
          </a>
        </li>
        <li>
          <a class="mb-2 rounded-1" id="dropdown-links" href="./length-for-age">
            <i class="bi bi-circle-fill text-muted" id="icons"></i
            ><span>Length for age</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Manage Nav -->

    <li class="nav-heading">Metrics Overview 2 Years old and Above</li>
    <!-- Start 2 above Nav -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#male2above"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="fa fa-pie-chart"></i>

        <span class="ms-1">Individual Growth Metrics</span
        ><i class="bi bi-chevron-down ms-auto" id="arrow-down"></i>
      </a>
      <ul
        id="male2above"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a
            class="mb-2 rounded-1"
            id="dropdown-links"
            href="./head_circumference2Above"
          >
            <i class="bi bi-circle-fill text-muted" id="icons"></i
            ><span>Head Circumference for Age</span>
          </a>
        </li>
        <li>
          <a
            class="mb-2 rounded-1"
            id="dropdown-links"
            href="./weight-for-height"
          >
            <i class="bi bi-circle-fill text-muted" id="icons"></i
            ><span>Weight-for-Height</span>
          </a>
        </li>
        <li>
          <a
            class="mb-2 rounded-1"
            id="dropdown-links"
            href="./weight-for-age2Above"
          >
            <i class="bi bi-circle-fill text-muted" id="icons"></i
            ><span>Weight for Age</span>
          </a>
        </li>
        <li>
          <a class="mb-2 rounded-1" id="dropdown-links" href="./height-for-age">
            <i class="bi bi-circle-fill text-muted" id="icons"></i
            ><span>Height for Age</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End 2above Nav -->
    <!-- Start Fundamental Data  -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="./growth_data_table">
        <i class="fa fa-table"></i>
        <span>Total Growth Overview</span>
      </a>
    </li>
    <!-- End Fundamental Data -->

    <!-- End Nav -->
  </ul>
</aside>
