/*login*/

#dashboard-button{
  left: 21% !important;
 
}


/*Sidebar*/
/*
#custom-border-bottom {
  border-bottom: 1px solid #9e9e9e;
  width: 100%; 
    margin: 0 auto; 
  
 

}*/
.menu-border{
  width: 180px;
  border-color: #e0e0e0 !important;
}

#arrow-down{
 
}