/*login*/
body{
   
}
  /* login input*/
  .form-floating input:focus {
    outline: none;
  
    box-shadow: none; 
  }

  .custom-button {
    background-color: #3F729B; 
    color: #fff;
    font-size: 16px; 
    
  }
  
  .custom-button:hover {
    background-color: #3F729B;  
  }
  .title {
    
    color:#eceff1 !important;
 }

  .logo {
    text-decoration: none; 
    color: inherit; 
  }
  
  .logo:hover {
    text-decoration: none; 
  }

.my-form input[type="text"].border-bottom,
.my-form input[type="email"].border-bottom,
.my-form input[type="password"].border-bottom {
  border-width: 1px !important;
  border-color: #007bff !important; 
}

.my-form select.border-bottom
 {
  border-width: 1px !important;
  border-color: #007bff !important; 
}


/* Card */
.card {
  margin-bottom: 30px;
  border: none;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
.card-title {
  font-size: 14px;
  font-weight: 500;
  color: #ff4500;
  font-family: "Poppins", sans-serif;
}

.card-body {
  padding: 0 20px 20px 20px; 
}

/* Alerts */
.alert-heading {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

/* Close Button */
.btn-close {
  background-size: 25%;
}

.btn-close:focus {
  outline: 0;
  box-shadow: none;
}

/* Title & Image Icon*/
.logo {
  line-height: 1;
}

.logo img {
  max-height: 50px;
  margin-right: 6px;
}

.logo span {
  font-size: 26px;
  font-weight: 700;

}

.link {
  text-decoration: none; 
  
}

.link:hover {
  text-decoration: underline; 
}

/*login style end*/

/*register*/
.form-select{
margin-top: 5px;
}

.terms-link{
  color: #007bff; 
  text-decoration: none;


}
.terms-link:hover {
  text-decoration: underline;
}

#acceptTerms{
  height: 15px;
  width: 15px;
}

/*menu*/

.my-form0-2 input[type="text"].border-bottom,
.my-form0-2 input[type="email"].border-bottom,
.my-form0-2 input[type="password"].border-bottom {
  border-width: 1px !important;
  border-color: #007bff !important; 
}

.my-form0-2 select.border-bottom
 {
  border-width: 1px !important;
  border-color: #007bff !important; 
}

.my-form2Above input[type="text"].border-bottom,
.my-form2Above input[type="email"].border-bottom,
.my-form2Above input[type="password"].border-bottom {
  border-width: 1px !important;
  border-color: #007bff !important; 
}

.my-form2Above select.border-bottom
 {
  border-width: 1px !important;
  border-color: #007bff !important; 
}
#dashboard-button{
  width: 50%;
}
@media (max-width: 770px) {
  #dashboard-button {
     width: 150px !important;     
  }
}

@media screen and (min-width:992px) and (max-width:1200px){
  body{
    background-color: yellow;
  }
  #card0-2 {
max-height: 140px;   

  }
  #add-button1{
    margin-top: -15px;
  }
}
.menu-title {
  font-size: 14px;
   font-weight: 500;
   color: #FF4500;
   font-family: "Poppins", sans-serif;
   margin-top: -10px;
   
 }


#continue-button{
  margin-bottom:-10px !important;
  margin-top: -30px !important;
  margin-left: 120px !important;
}

.small{
  margin-top: -5px;
}
#menu-container{
  background-color: #F5F5DC;
}
/*Modal*/
.modal-content {
  border-radius: 3px;
  background-color: #F5F5DC;
}
.modal-title{
  color: #ff6d00 ;
}

#modal-result{

  margin-left: 60px;
  width: 400px;
}


/*Sidebar*/
/*
#custom-border-bottom {
  border-bottom: 1px solid #9e9e9e;
  width: 100%; 
    margin: 0 auto; 
  
 

}*/
.menu-border{
  width: 180px;
  border-color: #e0e0e0 !important;
}

#dropdown-links{
  background-color:#FDF5E6;
}

#icons{

  font-size: 10px;
}

#sidebar::-webkit-scrollbar {
  width: 5px; 
  
}

#sidebar::-webkit-scrollbar-thumb {
  background-color: #4B515D;  
}

#sidebar::-webkit-scrollbar-track {
  background-color: #007bff;
}

/*header*/



/*Home Chart*/
#infocard-top1{
  font-size: 18px; 
}

#infocard-top2{
  font-size: 18px; 
}
#infocard-top3{
  font-size: 15px;
 
}

#infocard-top4{
  font-size: 18px; 
}

#info-card-bottom1{
  margin-top: -20px;
}
#info-card-bottom2{
  margin-top: -20px;
}
#info-card-bottom3{
  margin-top: -20px;
}
#info-card-bottom4{
  margin-top: -20px;
}


#lineChart{
  height: 300px !important;
}


/*Data table*/


/*Head circumference page*/
/*#head_title {
  margin-left: 280px;
}
#head-infocard1{
  margin-left: 150px;
  padding: 0%;
}
#head-infocard2{
  margin-left: 150px;
  padding: 0%;
}
#head-infocard3{
  margin-left: 100px;
  padding: 0%;
}*/
/*head0to2*/

/*chart*/

.averages-label {
  display: flex;
  align-items: center; 
  font-size: 12px;
  margin-left: 115px;
  
}

.averages-label h5, .average-label p {
  margin: 0; 
}

.averages-label h5 {
  margin-right: 10px; 
}
.averages-text{
  font-size: 12px;
}
.averages-sum{
  font-size: 12px;
}

/*datatables*/

.wrapper {
  margin-top: 5vh;
}
.dataTables_filter input[type="search"] {
  background-color: #e0e0e0;
  border-color: #9e9e9e;
}

/* Customize the "Show 10 entries" dropdown background color */
.dataTables_length select {
  background-color: #e0e0e0;
  border-color: #9e9e9e;
}

.dataTables_filter {
  float: right;
  
}

.table-hover > tbody > tr:hover {
  background-color: #ccffff;
}

@media only screen and (min-width: 768px) {
  .table {
    table-layout: fixed;
    max-width: 100% !important;
  }
}

/*thead {
  background: orange;
}*/

.table td:nth-child(2) {
  overflow: hidden;
  text-overflow: ellipsis;
}

.highlight {
  background: #ffff99;
}

@media only screen and (max-width: 767px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr,
  tfoot tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50% !important;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .table td:nth-child(1) {
    background: #ccc;
    height: 100%;
    top: 0;
    left: 0;
    font-weight: bold;
  }

 
  /*.dataTables_length {
    display: none;
  }*/
 /*****/
 /* Customize the search bar background color */


 

}