<%- include("../partials/header") %>
<style>
  body {
    background-color: rgba(96, 125, 139, 0.3);
  }
</style>
<%- include("../partials/sidebar") %>
<main id="main" class="main">
  <div class="pagetitle text-white">
    <h1 class="text-dark fs-5">Overview of Growth Metrics</h1>
  </div>
  <!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->

      <!--Growth Table0-2-->

      <div class="row">
        <div class="col-lg-12">
          <div class="card bg-transparent">
            <div class="card-body">
              <h5
                class="card-title text-muted mt-4 fw-bold"
                id="tabletitle0to2"
              >
                Growth Data (0-2 Years): Head, Length, Weight (Male/Female)
              </h5>
              <br />
              <table
                class="table table-sm table-secondary table-striped"
                style="width: 100%"
              >
                <!-- id="growth_data_table"-->
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Category</th>
                    <th>Category</th>
                    <th>Head Circumference for Age</th>
                    <th>Weight for Length</th>
                    <th>Weight for Age</th>
                    <th>Length for Age</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Average</td>
                    <td>120</td>
                    <td>15</td>
                    <td>50</td>
                    <td>50</td>
                    <td>50</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Below Average</td>
                    <td>90</td>
                    <td>20</td>
                    <td>35</td>
                    <td>50</td>
                    <td>50</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Above Average</td>
                    <td>90</td>
                    <td>20</td>
                    <td>35</td>
                    <td>50</td>
                    <td>50</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- End Growth Table0-2-->

      <div class="row">
        <div class="col-lg-12">
          <div class="card bg-transparent">
            <div class="card-body">
              <h5
                class="card-title text-muted mt-4 fw-bold"
                id="tabletitle0to2"
              >
                Growth Data (2 years old and above): Head, Length, Weight
                (Male/Female)
              </h5>
              <br />
              <table
                class="table table-sm table-secondary table-striped"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Category</th>
                    <th>Category</th>
                    <th>Head Circumference for Age</th>
                    <th>Weight for Length</th>
                    <th>Weight for Age</th>
                    <th>Length for Age</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Average</td>
                    <td>120</td>
                    <td>15</td>
                    <td>50</td>
                    <td>50</td>
                    <td>50</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Below Average</td>
                    <td>90</td>
                    <td>20</td>
                    <td>35</td>
                    <td>50</td>
                    <td>50</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Above Average</td>
                    <td>90</td>
                    <td>20</td>
                    <td>35</td>
                    <td>50</td>
                    <td>50</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- End Growth Table0-2-->
    </div>
  </section>
</main>
<%- include("../partials/footer") %>
