<%- include("../partials/header") %>
<style>
  body {
    background-color: rgba(96, 125, 139, 0.3);
  }

  /*.main {
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
  }

  @media (max-width: 1199px) {
    .main {
      padding: 20px;
    }
  }*/
</style>
<%- include("../partials/sidebar") %>
<main id="main" class="main">
  <div class="pagetitle text-white">
    <h1 class="text-dark fs-5" id="head_title">
      Head Circumference | Percentiles Overview <i>(0-24 months)</i>
    </h1>
  </div>
  <!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">
          <!-- Info Card1 0-2 years old-->
          <div class="col-xxl-4 col-lg-4 col-md-6">
            <div
              class="card info-card revenue-card mt-3 pb-0"
              id="head-infocard1"
            >
              <div class="filter"></div>

              <div class="card-body">
                <h5
                  class="card-title-infocard1 mt-3 text-muted"
                  id="infocard-top1"
                >
                  Average
                </h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle align-items-center justify-content-center"
                  >
                    <i class="bi bi-dash"></i>
                  </div>
                  <div class="">
                    <h6>1,000,000</h6>
                    <span class="text-dark small pt-2"
                      >Sum for boys & girls</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Info Card1  0-2 years old- -->

          <!-- Info Card2  0-2 years old--->
          <div class="col-xxl-4 col-lg-4 col-md-6">
            <div
              class="card info-card revenue-card mt-3 pb-0"
              id="head-infocard2"
            >
              <div class="filter"></div>

              <div class="card-body">
                <h5
                  class="card-title-infocard2 mt-3 text-primary"
                  id="infocard-top2"
                >
                  Below Average
                </h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle align-items-center justify-content-center ms-0"
                  >
                    <i class="bi bi-dash"></i>
                  </div>
                  <div class="">
                    <h6>1,000</h6>

                    <span class="text-dark small pt-2"
                      >Sum for boys & girls</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Info Card2  0-2 years old- -->

          <!-- Info Card1 0-2 years old-->
          <div class="col-xxl-4 col-lg-4 col-md-6">
            <div
              class="card info-card revenue-card mt-3 pb-0"
              id="head-infocard3"
            >
              <div class="filter"></div>

              <div class="card-body">
                <h5
                  class="card-title-infocard1 mt-3 text-danger"
                  id="infocard-top1"
                >
                  Above Average
                </h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle align-items-center justify-content-center"
                  >
                    <i class="bi bi-dash"></i>
                  </div>
                  <div class="">
                    <h6>1,000,000</h6>
                    <span class="text-dark small pt-2"
                      >Sum for boys & girls</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Info Card1  0-2 years old- -->
          <p class="text-muted fw-bold">
            <i> Boys' Head Circumference Percentiles </i>
          </p>

          <!-- Head Circumference for Age Chart -->
          <div class="col-xxl-8 col-lg-9">
            <div class="card" id="chart1">
              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"
                  ><i class="bi bi-three-dots"></i
                ></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>
                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title mt-3 fw-bold text-muted">
                  Head Circumference Overview Chart
                </h5>

                <!-- Line Chart -->
                <canvas id="head0to2boys" style="height: 400px"></canvas>
                <script>
                  document.addEventListener("DOMContentLoaded", () => {
                    const chartData = {
                      labels: Array.from({ length: 24 }, (_, i) =>
                        (i + 1).toString()
                      ), // Ages in months from 1 to 24
                      datasets: [
                        {
                          label: "Average",
                          data: [
                            4.5,
                            5.2,
                            6.1,
                            7.0,
                            8.0,
                            9.0,
                            10.0,
                            11.0,
                            12.0,
                            13.0,
                            14.0,
                            15.0,
                            16.0,
                            17.0,
                            18.0,
                            19.0,
                            20.0,
                            21.0,
                            22.0,
                            23.0,
                            24.0,
                            25.0,
                            26.0,
                            27.0, //Database data should display here
                          ],
                          fill: false,
                          borderColor: "rgba(63, 81, 181, 0.3)",
                          tension: 0.1,
                        },
                        {
                          label: "Below Average",
                          data: [
                            48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72,
                            74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94,
                            //Database data should display here
                          ],
                          fill: false,
                          borderColor: "rgb(75, 192, 192)",
                          tension: 0.1,
                        },

                        {
                          label: "Above Average",
                          data: [
                            12,
                            14,
                            16,
                            18,
                            20,
                            22,
                            24,
                            26,
                            28,
                            30,
                            32,
                            34,
                            36,
                            38,
                            40,
                            42,
                            44,
                            46,
                            48,
                            50,
                            52,
                            54,
                            56,
                            58, //Database data should display here
                          ],
                          fill: false,
                          borderColor: "rgb(255, 99, 132)",
                          tension: 0.1,
                        },
                      ],
                    };

                    new Chart(document.querySelector("#head0to2boys"), {
                      type: "line",
                      data: chartData,
                      options: {
                        scales: {
                          x: {
                            title: {
                              display: true,
                              text: "Age (months)",
                            },
                          },
                          y: {
                            title: {
                              display: true,
                              text: "Measurement Values",
                            },
                            beginAtZero: true,
                          },
                        },
                      },
                    });
                  });
                </script>

                <!-- End Head Circumference for Age Chart -->
                <div class="averages-label text-muted mb-3 mt-2">
                  <h5 class="averages-text">Average:</h5>
                  <h5 class="averages-sum">10,000,000</h5>

                  <h5 class="averages-text text-primary">Below Average:</h5>
                  <h5 class="averages-sum">10,000,000</h5>
                  <h5 class="averages-text text-danger">Above Average:</h5>
                  <h5 class="averages-sum">10,000,000</h5>
                </div>
              </div>
            </div>
          </div>
          <!-- End Head Circumference for Age Chart -->
          <!--Start Average Card-->
          <!-- Average Card-->

          <!--<div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6">
            <div
              class="card info-card revenue-card pb-0 bg-transparent shadow-none"
              id="avg_cardhead0to2"
            >
              <div class="filter"></div>

              <div class="card-body">
                <h5 class="card-title mt-3 text-dark fw-bold">
                  Average Percentiles (B)
                </h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle align-items-center justify-content-center ms-0"
                  >
                    <i class="bi bi-dash"></i>
                  </div>
                  <div class="">
                    <h6 class="text-dark">10,000</h6>

                    <span class="text-dark fw-bold small pt-2"
                      >Complete Sum</span
                    >
                  </div>
                </div>
              </div>
            </div>-->

          <!--End Average Card-->

          <!--Below Average Card-->
          <!--<div
              class="card info-card revenue-card pb-0 bg-transparent shadow-none"
              id="info-card-bottom3"
            >
              <div class="filter"></div>

              <div class="card-body">
                <h5 class="card-title mt-3 text-primary fw-bold">
                  Below Average (B)
                </h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle align-items-center justify-content-center ms-0"
                  >
                    <i class="bi bi-dash"></i>
                  </div>
                  <div class="">
                    <h6 class="text-dark">1,000</h6>

                    <span class="text-dark fw-bold small pt-2">
                      Complete Sum</span
                    >
                  </div>
                </div>
              </div>
            </div>-->
          <!--End Below Average Card-->
          <!--Above Average Card-->
          <!--<div
              class="card info-card revenue-card pb-0 bg-transparent shadow-none"
              id="info-card-bottom4"
            >
              <div class="filter"></div>

              <div class="card-body">
                <h5 class="card-title mt-3 text-danger fw-bold bg-transparent">
                  Above Average (B)
                </h5>

                <div class="d-flex align-items-center">
                <div
                    class="card-icon rounded-circle align-items-center justify-content-center ms-0"
                  >
                    <i class="bi bi-dash"></i>
                  </div>
                  <div class="">
                    <h6 class="text-dark">1,000</h6>

                    <span class="text-dark fw-bold small pt-2"
                      >Complete Sum</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>-->

          <!-- Above Average Card-->
          <!-- End Info Card1  0-2 years old- -->
          <p class="text-muted fw-bold">
            <i> Girls' Head Circumference Percentiles</i>
          </p>

          <!-- Head Circumference for Age Chart -->
          <div class="col-xxl-8 col-lg-9">
            <div class="card" id="chart1">
              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"
                  ><i class="bi bi-three-dots"></i
                ></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>
                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title mt-3 fw-bold text-muted">
                  Head Circumference Overview Chart
                </h5>

                <!-- Line Chart -->
                <canvas id="head0to2girls" style="height: 400px"></canvas>
                <script>
                  document.addEventListener("DOMContentLoaded", () => {
                    const chartData = {
                      labels: Array.from({ length: 24 }, (_, i) =>
                        (i + 1).toString()
                      ), // Ages in months from 1 to 24
                      datasets: [
                        {
                          label: "Average",
                          data: [
                            4.5,
                            5.2,
                            6.1,
                            7.0,
                            8.0,
                            9.0,
                            10.0,
                            11.0,
                            12.0,
                            13.0,
                            14.0,
                            15.0,
                            16.0,
                            17.0,
                            18.0,
                            19.0,
                            20.0,
                            21.0,
                            22.0,
                            23.0,
                            24.0,
                            25.0,
                            26.0,
                            27.0, //Database data should display here
                          ],
                          fill: false,
                          borderColor: "rgba(63, 81, 181, 0.3)",
                          tension: 0.1,
                        },
                        {
                          label: "Below Average",
                          data: [
                            48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72,
                            74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94,
                            //Database data should display here
                          ],
                          fill: false,
                          borderColor: "rgb(75, 192, 192)",
                          tension: 0.1,
                        },

                        {
                          label: "Above Average",
                          data: [
                            12,
                            14,
                            16,
                            18,
                            20,
                            22,
                            24,
                            26,
                            28,
                            30,
                            32,
                            34,
                            36,
                            38,
                            40,
                            42,
                            44,
                            46,
                            48,
                            50,
                            52,
                            54,
                            56,
                            58, //Database data should display here
                          ],
                          fill: false,
                          borderColor: "rgb(255, 99, 132)",
                          tension: 0.1,
                        },
                      ],
                    };

                    new Chart(document.querySelector("#head0to2girls"), {
                      type: "line",
                      data: chartData,
                      options: {
                        scales: {
                          x: {
                            title: {
                              display: true,
                              text: "Age (months)",
                            },
                          },
                          y: {
                            title: {
                              display: true,
                              text: "Measurement Values",
                            },
                            beginAtZero: true,
                          },
                        },
                      },
                    });
                  });
                </script>

                <!-- End Head Circumference for Age Chart -->
                <div class="averages-label text-muted mb-3 mt-2">
                  <h5 class="averages-text">Average:</h5>
                  <h5 class="averages-sum">10,000,000</h5>

                  <h5 class="averages-text text-primary">Below Average:</h5>
                  <h5 class="averages-sum">10,000,000</h5>
                  <h5 class="averages-text text-danger">Above Average:</h5>
                  <h5 class="averages-sum">10,000,000</h5>
                </div>
              </div>
            </div>
          </div>
          <!-- End Head Circumference for Age Chart -->
          <!--Start Average Card-->
          <!-- Average Card-->

          <!--<div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6">
            <div
              class="card info-card revenue-card pb-0 bg-transparent shadow-none"
            >
              <div class="filter"></div>

              <div class="card-body">
                <h5 class="card-title mt-3 text-dark fw-bold">
                  Average Percentiles (G)
                </h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle align-items-center justify-content-center ms-0"
                  >
                    <i class="bi bi-dash"></i>
                  </div>
                  <div class="">
                    <h6 class="text-dark">10,000</h6>

                    <span class="text-dark fw-bold small pt-2"
                      >Complete Sum</span
                    >
                  </div>
                </div>
              </div>
            </div>-->

          <!--End Average Card-->

          <!--Below Average Card-->
          <!--<div
              class="card info-card revenue-card pb-0 bg-transparent shadow-none"
              id="info-card-bottom3"
            >
              <div class="filter"></div>

              <div class="card-body">
                <h5 class="card-title mt-3 text-primary fw-bold">
                  Below Average (G)
                </h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle align-items-center justify-content-center ms-0"
                  >
                    <i class="bi bi-dash"></i>
                </div>
                  <div class="">
                    <h6 class="text-dark">1,000</h6>

                    <span class="text-dark fw-bold small pt-2">
                      Complete Sum</span
                    >
                  </div>
                </div>
              </div>
            </div>-->
          <!--End Below Average Card-->
          <!--Above Average Card-->
          <!--<div
              class="card info-card revenue-card pb-0 bg-transparent shadow-none"
              id="info-card-bottom4"
            >
              <div class="filter"></div>

              <div class="card-body">
                <h5 class="card-title mt-3 text-danger fw-bold">
                  Above Average (G)
                </h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle align-items-center justify-content-center ms-0"
                  >
                    <i class="bi bi-dash"></i>
                  </div>
                  <div class="">
                    <h6 class="text-dark">1,000</h6>

                    <span class="text-dark fw-bold small pt-2"
                      >Complete Sum</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>-->

          <!-- Above Average Card-->
        </div>
      </div>
    </div>
  </section>
</main>
<%- include("../partials/footer") %>
