<%- include("../partials/header") %>
<style>
  body {
    background-color: rgba(96, 125, 139, 0.3);
  }
</style>
<%- include("../partials/sidebar") %>
<main id="main" class="main">
  <div class="pagetitle text-white">
    <h1 class="text-dark fs-5">Dashboard | Metrics Overview</h1>
  </div>
  <!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">
          <!-- Info Card1 0-2 years old-->
          <div class="col-xxl-4 col-lg-3 col-md-6">
            <div class="card info-card revenue-card mt-3 pb-0">
              <div class="filter"></div>

              <div class="card-body">
                <h5
                  class="card-title-infocard1 mt-3 text-danger"
                  id="infocard-top1"
                >
                  Male
                </h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle align-items-center justify-content-center"
                  >
                    <i class="fa fa-male"></i>
                    <!--<img
                      src="./images/male.png"
                      alt="Male Icon"
                      class="img-fluid"
                    />-->
                  </div>

                  <div class="ms-1">
                    <h6>1,000,000</h6>
                    <span class="text-dark small pt-2 ms-2">0-2 years old</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Info Card1  0-2 years old- -->

          <!-- Info Card2  0-2 years old--->
          <div class="col-xxl-4 col-lg-3 col-md-6">
            <div class="card info-card revenue-card mt-3 pb-0">
              <div class="filter"></div>

              <div class="card-body">
                <h5
                  class="card-title-infocard2 mt-3 text-success"
                  id="infocard-top2"
                >
                  Female
                </h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle align-items-center justify-content-center ms-0"
                  >
                    <i class="fa fa-female"></i>
                    <!--<img
                      src="./images/female.png"
                      alt="Female Icon"
                      class="img-fluid"
                    />-->
                  </div>
                  <div class="ms-1">
                    <h6>1,000</h6>

                    <span class="text-dark small pt-2 ms-2">0-2 years old</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Info Card2  0-2 years old- -->

          <!-- Info Card1 0-2 years old-->
          <div class="col-xxl-4 col-lg-3 col-md-6">
            <div class="card info-card revenue-card mt-3 pb-0">
              <div class="filter"></div>

              <div class="card-body">
                <h5
                  class="card-title-infocard1 mt-3 text-danger"
                  id="infocard-top4"
                >
                  Male
                </h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle align-items-center justify-content-center"
                  >
                    <i class="fa fa-male"></i>
                    <!-- <img
                      src="./images/male.png"
                      alt="Male Icon"
                      class="img-fluid"
                    />-->
                  </div>
                  <div class="ms-1">
                    <h6>1,000,000</h6>
                    <span class="text-dark small pt-2 ms-2">2+ years</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Info Card1  0-2 years old- -->
          <!-- Info Card1 0-2 years old-->
          <div class="col-xxl-4 col-lg-3 col-md-6">
            <div class="card info-card revenue-card mt-3 pb-0">
              <div class="filter"></div>

              <div class="card-body">
                <h5
                  class="card-title-infocard1 mt-3 text-success"
                  id="infocard-top4"
                >
                  Female
                </h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle align-items-center justify-content-center"
                  >
                    <i class="fa fa-female"></i>
                    <!--<img
                      src="./images/female.png"
                      class="img-fluid"
                      alt="Female Icon"
                    />-->
                  </div>
                  <div class="ms-1">
                    <h6>1,000,000</h6>
                    <span class="text-dark small pt-2 ms-2">2+ years</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Info Card1  0-2 years old- -->

          <p class="text-muted fw-bold">
            <i>
              Infant Growth Overview (0-2 years): Head, Length, Weight
              (Male/Female)
            </i>
          </p>
          <!-- Head Circumference for Age Chart -->
          <div class="col-9">
            <div class="card" id="chart1">
              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"
                  ><i class="bi bi-three-dots"></i
                ></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>
                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title mt-3 fw-bold text-muted">
                  Infant Growth Overview Chart
                </h5>

                <!-- Line Chart -->
                <canvas id="combinedChart" style="height: 400px"></canvas>
                <script>
                  document.addEventListener("DOMContentLoaded", () => {
                    const chartData = {
                      labels: Array.from({ length: 24 }, (_, i) =>
                        (i + 1).toString()
                      ), // Ages in months from 1 to 24
                      datasets: [
                        {
                          label: "Average",
                          data: [
                            4.5,
                            5.2,
                            6.1,
                            7.0,
                            8.0,
                            9.0,
                            10.0,
                            11.0,
                            12.0,
                            13.0,
                            14.0,
                            15.0,
                            16.0,
                            17.0,
                            18.0,
                            19.0,
                            20.0,
                            21.0,
                            22.0,
                            23.0,
                            24.0,
                            25.0,
                            26.0,
                            27.0, //Database data should display here
                          ],
                          fill: false,
                          borderColor: "rgba(63, 81, 181, 0.3)",
                          tension: 0.1,
                        },
                        {
                          label: "Below Average",
                          data: [
                            48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72,
                            74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94,
                            //Database data should display here
                          ],
                          fill: false,
                          borderColor: "rgb(75, 192, 192)",
                          tension: 0.1,
                        },

                        {
                          label: "Above Average",
                          data: [
                            12,
                            14,
                            16,
                            18,
                            20,
                            22,
                            24,
                            26,
                            28,
                            30,
                            32,
                            34,
                            36,
                            38,
                            40,
                            42,
                            44,
                            46,
                            48,
                            50,
                            52,
                            54,
                            56,
                            58, //Database data should display here
                          ],
                          fill: false,
                          borderColor: "rgb(255, 99, 132)",
                          tension: 0.1,
                        },
                      ],
                    };

                    new Chart(document.querySelector("#combinedChart"), {
                      type: "line",
                      data: chartData,
                      options: {
                        scales: {
                          x: {
                            title: {
                              display: true,
                              text: "Age (months)",
                            },
                          },
                          y: {
                            title: {
                              display: true,
                              text: "Measurement Values",
                            },
                            beginAtZero: true,
                          },
                        },
                      },
                    });
                  });
                </script>

                <!-- End Head Circumference for Age Chart -->
                <div class="averages-label text-muted mb-3 mt-2">
                  <h5 class="averages-text">Average:</h5>
                  <h5 class="averages-sum">10,000,000</h5>

                  <h5 class="averages-text text-primary">Below Average:</h5>
                  <h5 class="averages-sum">10,000,000</h5>
                  <h5 class="averages-text text-danger">Above Average:</h5>
                  <h5 class="averages-sum">10,000,000</h5>
                </div>
              </div>
            </div>
          </div>
          <!-- End Head Circumference for Age Chart -->

          <!-- Average Card-->
          <!--<div class="col-xxl-4 col-lg-3 col-md-6">
            <div
              class="card info-card revenue-card pb-0 bg-transparent rounded-0 shadow-none"
            >
              <div class="filter"></div>

              <div class="card-body">
                <h5 class="card-title mt-3 text-dark fw-bold">
                  Average Percentiles
                </h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle align-items-center justify-content-center ms-0"
                  >
                    <i class="bi bi-dash"></i>
                  </div>
                  <div class="">
                    <h6 class="text-dark">10,000,000</h6>

                    <span class="text-muted small pt-2"
                      >0-2 years old (sum)</span
                    >
                  </div>
                </div>
              </div>
            </div>-->

          <!--End Average Card-->

          <!--Below Average Card-->
          <!--<div
              class="card info-card revenue-card pb-0 bg-transparent shadow-none"
              id="info-card-bottom3"
            >
              <div class="filter"></div>

              <div class="card-body">
                <h5 class="card-title mt-3 text-primary fw-bold">
                  Below Average
                </h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle align-items-center justify-content-center ms-0"
                  >
                    <i class="bi bi-dash"></i>
                  </div>
                  <div class="">
                    <h6 class="text-dark">1,000</h6>

                    <span class="text-muted small pt-2"
                      >0-2 years old (sum)</span
                    >
                  </div>
                </div>
              </div>
            </div>-->
          <!--End Below Average Card-->
          <!--Above Average Card-->
          <!--<div
              class="card info-card revenue-card pb-0 bg-transparent rounded-0 shadow-none"
              id="info-card-bottom4"
            >
              <div class="filter"></div>

              <div class="card-body">
                <h5 class="card-title mt-3 text-danger fw-bold">
                  Above Average
                </h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle align-items-center justify-content-center ms-0"
                  >
                    <i class="bi bi-dash"></i>
                </div>
                  <div class="">
                    <h6 class="text-dark">1,000</h6>

                    <span class="text-muted small pt-2"
                      >0-2 years old (sum)</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>-->
          <!-- Above Average Card-->

          <p class="text-muted fw-bold">
            <i>
              Growth Overview (2 years old and above): Head, Height, Weight
              (Male/Female)
            </i>
          </p>
          <!-- Head Circumference for Age Chart -->
          <div class="col-9">
            <div class="card" id="chart1">
              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"
                  ><i class="bi bi-three-dots"></i
                ></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>
                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title mt-3 fw-bold text-muted">
                  Growth Overview Chart
                </h5>

                <!-- Line Chart -->
                <canvas id="combinedChart2" style="height: 400px"></canvas>
                <script>
                  document.addEventListener("DOMContentLoaded", () => {
                    const chartData = {
                      labels: Array.from({ length: 100 }, (_, i) =>
                        (i + 1).toString()
                      ), // Ages in years from 1 to 24
                      datasets: [
                        {
                          label: "Average",
                          data: [
                            4.5,
                            5.2,
                            6.1,
                            7.0,
                            8.0,
                            9.0,
                            10.0,
                            11.0,
                            12.0,
                            13.0,
                            14.0,
                            15.0,
                            16.0,
                            17.0,
                            18.0,
                            19.0,
                            20.0,
                            21.0,
                            22.0,
                            23.0,
                            24.0,
                            25.0,
                            26.0,
                            27.0, //Database data should display here
                          ],
                          fill: false,
                          borderColor: "rgba(63, 81, 181, 0.3)",
                          tension: 0.1,
                        },
                        {
                          label: "Below Average",
                          data: [
                            48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72,
                            74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94,
                            //Database data should display here
                          ],
                          fill: false,
                          borderColor: "rgb(75, 192, 192)",
                          tension: 0.1,
                        },

                        {
                          label: "Above Average",
                          data: [
                            12,
                            14,
                            16,
                            18,
                            20,
                            22,
                            24,
                            26,
                            28,
                            30,
                            32,
                            34,
                            36,
                            38,
                            40,
                            42,
                            44,
                            46,
                            48,
                            50,
                            52,
                            54,
                            56,
                            58, //Database data should display here
                          ],
                          fill: false,
                          borderColor: "rgb(255, 99, 132)",
                          tension: 0.1,
                        },
                      ],
                    };

                    new Chart(document.querySelector("#combinedChart2"), {
                      type: "line",
                      data: chartData,
                      options: {
                        scales: {
                          x: {
                            title: {
                              display: true,
                              text: "Age (years)",
                            },
                          },
                          y: {
                            title: {
                              display: true,
                              text: "Measurement Values",
                            },
                            beginAtZero: true,
                          },
                        },
                      },
                    });
                  });
                </script>

                <!-- End Head Circumference for Age Chart -->
                <div class="averages-label text-muted mb-3 mt-2">
                  <h5 class="averages-text">Average:</h5>
                  <h5 class="averages-sum">10,000,000</h5>

                  <h5 class="averages-text text-primary">Below Average:</h5>
                  <h5 class="averages-sum">10,000,000</h5>
                  <h5 class="averages-text text-danger">Above Average:</h5>
                  <h5 class="averages-sum">10,000,000</h5>
                </div>
              </div>
            </div>
          </div>
          <!-- End Head Circumference for Age Chart -->

          <!-- Average Card-->
          <!--<div class="col-xxl-4 col-lg-3 col-md-6">
            <div
              class="card info-card revenue-card pb-0 bg-transparent rounded-0 shadow-none"
            >
              <div class="filter"></div>

              <div class="card-body">
                <h5 class="card-title mt-3 text-dark fw-bold">
                  Average Percentiles
                </h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle align-items-center justify-content-center ms-0"
                  >
                    <i class="bi bi-dash"></i>
                  </div>
                  <div class="">
                    <h6 class="text-dark">10,000,000</h6>

                    <span class="text-muted small pt-2"
                      >2+ yrs & above (sum)</span
                    >
                  </div>
                </div>
              </div>
            </div>-->

          <!--End Average Card-->

          <!--Below Average Card-->
          <!--<div
              class="card info-card revenue-card pb-0 rounded-0 bg-transparent shadow-none"
              id="info-card-bottom1"
            >
              <div class="filter"></div>

              <div class="card-body">
                <h5 class="card-title mt-3 text-primary fw-bold">
                  Below Average
                </h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle align-items-center justify-content-center ms-0"
                  >
                    <i class="bi bi-dash"></i>
                  </div>
                  <div class="">
                    <h6 class="text-dark">1,000</h6>

                    <span class="text-muted small pt-2"
                      >2+ yrs & above (sum)</span
                    >
                  </div>
                </div>
              </div>
            </div>-->
          <!--End Below Average Card-->
          <!--Above Average Card-->
          <!--<div
              class="card info-card revenue-card pb-0 rounded-0 bg-transparent shadow-none"
              id="info-card-bottom2"
            >
              <div class="filter"></div>

              <div class="card-body">
                <h5 class="card-title mt-3 text-danger fw-bold">
                  Above Average
                </h5>

                <div class="d-flex align-items-center">
                   <div
                    class="card-icon rounded-circle align-items-center justify-content-center ms-0"
                  >
                    <i class="bi bi-dash"></i>
                </div>
                  <div class="">
                    <h6 class="text-dark">1,000</h6>

                    <span class="text-muted small pt-2"
                      >2+ yrs & above (sum)</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>-->
          <!-- Above Average Card-->

          <!--Growth Table0-2-->

          <div class="row">
            <div class="col-lg-12">
              <div class="card bg-transparent">
                <div class="card-body">
                  <h5
                    class="card-title text-muted mt-4 fw-bold"
                    id="tabletitle0to2"
                  >
                    Growth Data (0-2 Years): Head, Length, Weight (sum) - Male
                    vs. Female Comparison
                  </h5>
                  <br />
                  <table
                    class="table table-striped text-muted table-sm table-secondary"
                    style="width: 100%"
                  >
                    <!--id="example"-->
                    <thead>
                      <tr>
                        <th>Gender</th>
                        <th>Average</th>
                        <th>Below Average</th>
                        <th>Above Average</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Male</td>
                        <td>120</td>
                        <td>15</td>
                        <td>50</td>
                      </tr>
                      <tr>
                        <td>Female</td>
                        <td>90</td>
                        <td>20</td>
                        <td>35</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <!-- End Growth Table0-2-->

          <!-- Start Growth Table2Above-->
          <div class="row">
            <div class="col-lg-12">
              <div class="card bg-transparent">
                <div class="card-body">
                  <h5
                    class="card-title text-muted mt-4 fw-bold"
                    id="tabletitle0to2"
                  >
                    Growth Data (2 years old and above): Head, Height, Weight
                    (sum) - Male vs. Female Comparison
                  </h5>
                  <br />
                  <table
                    class="table table-striped text-muted table-sm table-secondary"
                    style="width: 100%"
                  >
                    <!--id="table2"-->
                    <thead>
                      <tr>
                        <th>Gender</th>
                        <th>Average</th>
                        <th>Below Average</th>
                        <th>Above Average</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Male</td>
                        <td>120</td>
                        <td>15</td>
                        <td>50</td>
                      </tr>
                      <tr>
                        <td>Female</td>
                        <td>90</td>
                        <td>20</td>
                        <td>35</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- End Growth Table2Above-->
        </div>
      </div>
    </div>
  </section>
</main>

<%- include("../partials/footer") %>
