<%- include("../partials/auth_header") %>
<style>
  body {
    background: #29748e;
  }
  .card-title {
    font-size: 14px;
    font-weight: 500;
    color: #ff4500;
    font-family: "Poppins", sans-serif;
  }
</style>

<section
  class="section min-vh-100 d-flex flex-column align-items-center justify-content-center"
>
  <div class="container">
    <div class="row justify-content-center">
      <div
        class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
      >
        <div class="d-flex justify-content-center py-4"></div>
        <!-- End Logo -->

        <div class="card mb-3 rounded-1">
          <div class="card-body">
            <div class="pt-4 pb-2">
              <h5 class="card-title pb-1 fs-4">Login Form</h5>

              <p class="small">Sign in with your username and password</p>
            </div>

            <!-- Floating Labels Form -->
            <form class="row g-3 my-form">
              <div class="col-md-12">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control border-0 border-bottom rounded-0"
                    placeholder="Username"
                    name="username"
                  />
                  <label for="UserName" class="text-muted pb-0">Username</label>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-floating">
                  <input
                    type="password"
                    class="form-control border-0 border-bottom rounded-0"
                    placeholder="Password"
                    name="password"
                  />
                  <label for="Password" class="text-muted pb-0">Password</label>
                </div>
              </div>

              <div class="text-center mt-4">
                <button
                  type="submit"
                  class="btn custom-button w-100 rounded-0 mb-3"
                >
                  Submit
                </button>
              </div>
              <div class="col-12 mt-1">
                <p class="small mb-0">
                  Don't have account?
                  <a class="link" href="/register">Create an account</a>
                </p>
              </div>
            </form>
            <!-- End floating Labels Form -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End #main -->

<%- include("../partials/footer") %>
