<%- include("../partials/header") %>
<style>
  body {
    background-color: rgba(96, 125, 139, 0.3);
  }
</style>
<%- include("../partials/sidebar") %>
<main id="main" class="main">
  <div class="pagetitle text-white">
    <h1 class="text-dark fs-5">Data Metrics | Overview</h1>
  </div>
  <!-- End Page Title -->
  <!--Growth Table0-2-->
  <section>
    <div class="row">
      <div class="col-lg-12">
        <div class="card mt-5 bg-transparent">
          <div class="card-body">
            <h5 class="card-title text-muted mt-4 fw-bold" id="tabletitle0to2">
              Pre-Calculated Data (0-24 months)
            </h5>
            <br />
            <table
              id="main_data_metrics0to2"
              class="table table-striped text-muted table-sm table-secondary"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Age</th>
                  <th>Gender</th>
                  <th>Head Circumference</th>
                  <th>Length for Age</th>
                  <th>Weight for Age</th>
                  <th>Weight for Length</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>12</td>
                  <td>Female</td>
                  <td>90-95</td>
                  <td>40-50</td>
                  <td>60-65</td>
                  <td>30-35</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>15</td>
                  <td>Male</td>
                  <td>90-95</td>
                  <td>80-85</td>
                  <td>80-85</td>
                  <td>80-85</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>24</td>
                  <td>Female</td>
                  <td>90-95</td>
                  <td>100-105</td>
                  <td>99-105</td>
                  <td>95-100</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- End Growth Table0-2-->

    <!-- Start Growth Table2Above-->
    <div class="row">
      <div class="col-lg-12">
        <div class="card mt-2 bg-transparent">
          <div class="card-body">
            <h5 class="card-title text-muted mt-4 fw-bold" id="tabletitle0to2">
              Pre-Calculated Data (2 years old and above)
            </h5>
            <br />
            <table
              id="main_data_metrics2Above"
              class="table table-striped table-sm text-muted table-secondary"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Age</th>
                  <th>Gender</th>
                  <th>Head Circumference</th>
                  <th>Height for Age</th>
                  <th>Weight for Age</th>
                  <th>Weight for Height</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>12</td>
                  <td>Female</td>
                  <td>90-95</td>
                  <td>40-50</td>
                  <td>60-65</td>
                  <td>30-35</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>15</td>
                  <td>Male</td>
                  <td>90-95</td>
                  <td>80-85</td>
                  <td>80-85</td>
                  <td>80-85</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>24</td>
                  <td>Female</td>
                  <td>90-95</td>
                  <td>100-105</td>
                  <td>99-105</td>
                  <td>95-100</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- End Growth Table2Above-->
  </section>
</main>

<%- include("../partials/footer") %>
