<%- include("../partials/header") %>
<style>
  body {
    background-color: rgba(96, 125, 139, 0.3);
  }
</style>
<%- include("../partials/sidebar") %>
<main id="main" class="main">
  <div class="pagetitle text-white">
    <h1 class="text-dark fs-5">Data | Overview</h1>
  </div>
  <!-- End Page Title -->
  <!--Growth Table0-2-->
  <section>
    <div class="row">
      <div class="col-lg-12">
        <div class="card mt-5 bg-transparent">
          <div class="card-body">
            <h5 class="card-title text-muted mt-4 fw-bold" id="tabletitle0to2">
              All Data (0-2 Years)
            </h5>
            <br />
            <table
              id="main_data0to2"
              class="table table-sm text-muted table-secondary table-striped"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Age</th>
                  <th>Gender</th>
                  <th>Head Circumference</th>
                  <th>Length</th>
                  <th>Weight</th>
                  <th>Date Added</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>12</td>
                  <td>Female</td>
                  <td>7</td>
                  <td>30</td>
                  <td>4</td>
                  <td>12/01/2023</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>12</td>
                  <td>Male</td>
                  <td>10</td>
                  <td>40</td>
                  <td>10</td>
                  <td>12/01/2023</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>20</td>
                  <td>Female</td>
                  <td>12</td>
                  <td>35</td>
                  <td>15</td>
                  <td>12/01/2023</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- End Growth Table0-2-->

    <!-- Start Growth Table2Above-->
    <div class="row">
      <div class="col-lg-12">
        <div class="card mt-2 bg-transparent">
          <div class="card-body">
            <h5 class="card-title text-muted mt-4 fw-bold" id="tabletitle0to2">
              All Data 2 years old and above
            </h5>
            <br />
            <table
              id="main_data2Above"
              class="table table-sm text-muted table-secondary table-striped"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Age</th>
                  <th>Gender</th>
                  <th>Head Circumference</th>
                  <th>Height</th>
                  <th>Weight</th>
                  <th>Date Added</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Female</td>
                  <td>90</td>
                  <td>20</td>
                  <td>35</td>
                  <td>Male</td>
                  <td>120</td>
                  <td>15</td>
                </tr>
                <tr>
                  <td>Female</td>
                  <td>90</td>
                  <td>20</td>
                  <td>35</td>
                  <td>Male</td>
                  <td>120</td>
                  <td>15</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- End Growth Table2Above-->
  </section>
</main>

<%- include("../partials/footer") %>
