<%- include("../partials/menu_header") %>
<style>
  body {
    background: #29748e;
  }
</style>
<section
  class="section min-vh-100 align-items-center justify-content-center mt-5"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-12">
        <div class="d-flex justify-content-center py-4"></div>

        <div
          class="container mt-3 h-80 pt-4 pb-2 rounded-1"
          id="menu-container"
        >
          <h5 class="menu-title fs-4">Age Selection Menu</h5>
          <p class="small">Choose an age range to proceed</p>

          <div class="dashboard-button d-flex">
            <a
              href="/home"
              class="btn custom-button w-25 h-100 rounded-0 mb-0 text-sm"
              id="dashboard-button"
              >See Dashboard</a
            >
          </div>

          <!-- Left side columns -->

          <div class="row">
            <!-- Menu Card -->
            <div class="col-xxl-4 col-lg-6 col-md-6">
              <div
                class="card mt-4 border border-1 border-secondary"
                id="card0-2"
              >
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div
                      class="card-icon rounded-circle d-flex align-items-center justify-content-center pb-1"
                    >
                      <img
                        src="./images/user.png"
                        alt="User Icon"
                        width="90"
                        height="90"
                        class="img-fluid me-0 pe-1 mt-4"
                      />
                    </div>
                    <div class="ps-3">
                      <h5 class="card-title" id="title0-2">
                        <span class="text-success fw-bold fs-5 text-sm"
                          >0-2 years old</span
                        >
                      </h5>
                    </div>
                  </div>

                  <p class="card-text" id="add-button1">
                    <a
                      href="#"
                      class="btn custom-button ms-5 w-50 rounded-0"
                      id="continue-button"
                      data-bs-toggle="modal"
                      data-bs-target="#verticalycentered"
                      >Add Values</a
                    >
                  </p>
                </div>
              </div>
            </div>
            <!-- End Menu Card -->

            <!-- Menu2 Card -->
            <div class="col-xxl-4 col-lg-6 col-md-6">
              <div class="card mt-4 border border-1 border-secondary">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div
                      class="card-icon rounded-circle d-flex align-items-center justify-content-center pb-1"
                    >
                      <img
                        src="./images/user.png"
                        alt="User Icon"
                        width="90"
                        height="90"
                        class="img-fluid me-0 pe-1 mt-4"
                      />
                    </div>
                    <div class="ps-3">
                      <h5 class="card-title">
                        <span class="text-success fw-bold fs-5 text-sm"
                          >2 years old & above</span
                        >
                      </h5>
                    </div>
                  </div>
                  <p class="card-text">
                    <a
                      href="#"
                      class="btn custom-button mt-5 w-50 rounded-0"
                      id="continue-button"
                      data-bs-toggle="modal"
                      data-bs-target="#modal2andAbove"
                      >Add Values</a
                    >
                  </p>
                </div>
              </div>
            </div>

            <!-- End Menu2 Card -->

            <!--Start 0-2 years old Modal -->

            <div class="modal fade" id="verticalycentered" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">For age 0-2 years old</h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <!-- Floating Labels Form -->
                    <form class="row g-3 my-form0-2">
                      <div class="col-md-12">
                        <div class="form-floating">
                          <input
                            type="text"
                            class="form-control border-0 border-bottom rounded-0"
                            placeholder="age0to2"
                            name="age0to2"
                          />
                          <label for="Age" class="text-muted pb-0">Age</label>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-floating">
                          <input
                            type="text"
                            class="form-control border-0 border-bottom rounded-0"
                            placeholder="Head Circumference"
                            name="head0to2"
                          />
                          <label
                            for="Head Circumference"
                            class="text-muted pb-0"
                            >Head Circumference</label
                          >
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-floating">
                          <input
                            type="text"
                            class="form-control border-0 border-bottom rounded-0"
                            placeholder="Height"
                            name="height0to2"
                          />
                          <label for="Height" class="text-muted pb-0"
                            >Length</label
                          >
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-floating">
                          <input
                            type="text"
                            class="form-control border-0 border-bottom rounded-0"
                            placeholder="Weight"
                            name="Weight0to2"
                          />
                          <label for="Weight" class="text-muted pb-0"
                            >Weight</label
                          >
                        </div>
                      </div>

                      <div class="col-md-12">
                        <select
                          id="gender"
                          name="gender0to2"
                          class="form-select col-md-12 border-0 border-bottom rounded-0 text-muted"
                        >
                          <option value="male" selected disabled>
                            Select Gender:
                          </option>
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                        </select>
                      </div>

                      <div class="text-center mt-4 col-md-6">
                        <button
                          type="button"
                          class="btn custom-button w-100 rounded-0 bg-danger"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                      </div>

                      <div class="text-center mt-4 col-md-6">
                        <button
                          type="submit"
                          class="btn custom-button w-100 rounded-0 mb-3"
                        >
                          Save
                        </button>
                      </div>
                    </form>
                    <!-- End floating Labels Form -->
                  </div>
                  <!--End Modal- body-->
                </div>
              </div>
            </div>
            <!-- End 0-2 years old Modal-->

            <!--Start 2 years old & above Modal -->

            <div class="modal fade" id="modal2andAbove" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">For age 2 years old & above</h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form class="row g-3 my-form2Above">
                      <div class="col-md-12">
                        <div class="form-floating">
                          <input
                            type="text"
                            class="form-control border-0 border-bottom rounded-0"
                            placeholder="age2above"
                            name="age2above"
                          />
                          <label for="Age" class="text-muted pb-0">Age</label>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-floating">
                          <input
                            type="text"
                            class="form-control border-0 border-bottom rounded-0"
                            placeholder="Head Circumference"
                            name="head2above"
                          />
                          <label
                            for="Head Circumference"
                            class="text-muted pb-0"
                            >Head Circumference</label
                          >
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-floating">
                          <input
                            type="text"
                            class="form-control border-0 border-bottom rounded-0"
                            placeholder="Height"
                            name="height2above"
                          />
                          <label for="Height" class="text-muted pb-0"
                            >Height</label
                          >
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-floating">
                          <input
                            type="text"
                            class="form-control border-0 border-bottom rounded-0"
                            placeholder="Weight"
                            name="Weight2above"
                          />
                          <label for="Weight" class="text-muted pb-0"
                            >Weight</label
                          >
                        </div>
                      </div>

                      <div class="col-md-12">
                        <select
                          id="gender"
                          name="gender2above"
                          class="form-select col-md-12 border-0 border-bottom rounded-0 text-muted"
                        >
                          <option value="male" selected disabled>
                            Select Gender:
                          </option>
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                        </select>
                      </div>

                      <div class="text-center mt-4 col-md-6">
                        <button
                          type="button"
                          class="btn custom-button w-100 rounded-0 bg-danger"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                      </div>

                      <div class="text-center mt-4 col-md-6">
                        <button
                          type="submit"
                          class="btn custom-button w-100 rounded-0 mb-3"
                        >
                          Save
                        </button>
                      </div>
                    </form>
                    <!-- End floating Labels Form -->
                  </div>
                  <!--End Modal-Body-->

                  <!-- End 2 years old & above Modal-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../partials/footer") %>
