<%- include("../partials/header") %>
<style>
  body {
    background-color: rgba(96, 125, 139, 0.3);
  }
</style>
<%- include("../partials/sidebar") %>
<main id="main" class="main">
  <div class="pagetitle text-white">
    <h1 class="text-dark">Manage| My Profile</h1>
  </div>
  <!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->

      <div class="container">
        <div class="row justify-content-center">
          <div
            class="col-lg-6 col-md-8 d-flex flex-column align-items-center justify-content-center"
          >
            <!-- End Logo -->

            <div class="card mb-3 rounded-1">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title pb-1 fs-4">My Profile</h5>
                </div>

                <!-- Floating Labels Form -->
                <form class="row g-2 my-form">
                  <div class="text-center mb-4">
                    <img
                      src="./images/a.jpg"
                      alt="Profile Image"
                      class="img-fluid rounded-circle"
                      style="width: 100px; height: 100px"
                    />
                  </div>
                  <div class="col-md-4">
                    <div class="form-floating">
                      <input
                        type="text"
                        class="form-control border-0 border-bottom rounded-0"
                      />

                      <label class="text-muted pb-0">First Name</label>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-floating">
                      <input
                        type="text"
                        class="form-control border-0 border-bottom rounded-0"
                        placeholder="Middle Name"
                        name="middle_name"
                      />
                      <label for="Middle Name" class="text-muted pb-0"
                        >Middle Name</label
                      >
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-floating">
                      <input
                        type="text"
                        class="form-control border-0 border-bottom rounded-0"
                        placeholder="Last Name"
                        name="last_name"
                      />
                      <label for="Last Name" class="text-muted pb-0"
                        >Last Name</label
                      >
                    </div>
                  </div>

                  <div class="col-md-6 mt-4">
                    <select
                      id="gender"
                      name="gender"
                      class="form-select col-md-12 border-0 border-bottom rounded-0 text-muted"
                    >
                      <option value="male" selected disabled>
                        Select Gender:
                      </option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                    </select>
                  </div>

                  <div class="col-md-6">
                    <div class="form-floating">
                      <input
                        type="email"
                        class="form-control border-0 border-bottom rounded-0"
                        placeholder="Email"
                        name="email"
                      />
                      <label for="Email" class="text-muted pb-0">Email</label>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-floating">
                      <input
                        type="password"
                        class="form-control border-0 border-bottom rounded-0"
                        placeholder="Password"
                        name="password"
                      />
                      <label for="Password" class="text-muted pb-0"
                        >Password</label
                      >
                    </div>
                  </div>

                  <div class="text-center mt-4">
                    <button
                      type="submit"
                      class="btn custom-button w-50 rounded-0 mb-3"
                    >
                      Submit
                    </button>
                  </div>
                </form>
                <!-- End floating Labels Form -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<%- include("../partials/footer") %>
