<%- include("../partials/auth_header") %>

<style>
  body {
    background: #29748e;
  }
  .card-title {
    font-size: 14px;
    font-weight: 500;
    color: #ff4500;
    font-family: "Poppins", sans-serif;
  }
</style>
<section
  class="section min-vh-100 d-flex flex-column align-items-center justify-content-center"
>
  <div class="container">
    <div class="row justify-content-center">
      <div
        class="col-lg-6 col-md-8 d-flex flex-column align-items-center justify-content-center"
      >
        <div class="d-flex justify-content-center py-4"></div>
        <!-- End Logo -->

        <div class="card mb-3 rounded-1">
          <div class="card-body">
            <div class="pt-4 pb-2">
              <h5 class="card-title pb-1 fs-4">Register Form</h5>

              <p class="small">
                Create a new account by filling in your details
              </p>
            </div>

            <!-- Floating Labels Form -->
            <form class="row g-2 my-form">
              <div class="col-md-4">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control border-0 border-bottom rounded-0"
                    placeholder="First Name"
                    name="first_name"
                  />
                  <label for="First Name" class="text-muted pb-0"
                    >First Name</label
                  >
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control border-0 border-bottom rounded-0"
                    placeholder="Middle Name"
                    name="middle_name"
                  />
                  <label for="Middle Name" class="text-muted pb-0"
                    >Middle Name</label
                  >
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control border-0 border-bottom rounded-0"
                    placeholder="Last Name"
                    name="last_name"
                  />
                  <label for="Last Name" class="text-muted pb-0"
                    >Last Name</label
                  >
                </div>
              </div>

              <div class="col-md-6 mt-4">
                <select
                  id="gender"
                  name="gender"
                  class="form-select col-md-12 border-0 border-bottom rounded-0 text-muted"
                >
                  <option value="male" selected disabled>Select Gender:</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>

              <div class="col-md-6">
                <div class="form-floating">
                  <input
                    type="email"
                    class="form-control border-0 border-bottom rounded-0"
                    placeholder="Email"
                    name="email"
                  />
                  <label for="Email" class="text-muted pb-0">Email</label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-floating">
                  <input
                    type="password"
                    class="form-control border-0 border-bottom rounded-0"
                    placeholder="Password"
                    name="password"
                  />
                  <label for="Password" class="text-muted pb-0">Password</label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-floating">
                  <input
                    type="password"
                    class="form-control border-0 border-bottom rounded-0"
                    placeholder="Confirm Password"
                    name="confirm_password"
                  />
                  <label for="Confirm Password" class="text-muted pb-0"
                    >Confirm Password</label
                  >
                </div>
              </div>

              <div class="text-center mt-4">
                <button
                  type="submit"
                  class="btn custom-button w-50 rounded-0 mb-3"
                >
                  Submit
                </button>
              </div>

              <div class="col-12">
                <div class="form-check ps-0">
                  <input
                    class="border border-dark"
                    name="terms"
                    type="checkbox"
                    value=""
                    id="acceptTerms"
                    required
                  />
                  <label class="form-check-label" for="acceptTerms">
                    <span class="checkmark"></span>
                    I agree and accept the
                    <a class="terms-link" href="#"
                      >terms and conditions</a
                    ></label
                  >
                  <div class="invalid-feedback">
                    You must agree before submitting.
                  </div>
                </div>
              </div>

              <div class="col-12 mt-1">
                <p class="small mb-0">
                  Already have account?
                  <a class="link" href="/">Sign in</a>
                </p>
              </div>
            </form>
            <!-- End floating Labels Form -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End #main -->

<%- include("../partials/footer") %>
